# PRAMOD AI Git Ignore
# Author: Pramod Jogdand | github.com/Prem2868

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Database
database/*.db

# IDEs
.vscode/
.idea/

# System
.DS_Store
*.log
